
.uinn-pLt1{
	padding-top:5.3125em;
}
.uinn-pLb1{
	padding-bottom:0.7em;
}
.uwh-pL1{
	width:13.375em;
	height:3.6875em;
}
.logoBg2{
	background-image:url('myImg/bg2.png');
}
.logo3{
	background-image:url('myImg/icon.png');
	height: 10em;
	width: 10em;
}
.uinn-at2{
	padding-top:0.75em;
}
.c-blu2{
	background-color:#415a79;
}




