
.t-org-pM1{
	color:#f78c3e;
}
.t-org-pM2{
	color:#e99d3a;
}
.b-gra-pM1{
	border-color:#cccccc;
}
.uinn-pM1{
	padding:0.5em 0.7em;
}

.uw-pM2{
	width:9em;
}

.uh-pM2{
	height:2.2em;
}
.ulev-p1{
	font-size:0.9em;
}
.t-gra5{
	color:#686868;
}
.uh-app1{
	height:3.125em;
}
.uw-app2{
	width:3.125em;
}
.c-wh{
    background-color: white;
}
.mar-ar1{
    margin-right:0.625em;
}












