.t-gra-form1{
	color:#8c8c8c;
}
.t-red-form2{
	color:#ff0000;
}
.t-org-form3{
	color:#5CC15E;
}

.c-org-form1{
	background-color:#C2D84D;
}
.c-org-form2{
	background-color:#C2D84D;
}

.uinn-form2{
	padding:0.625em 1.3em;
}
.uinn-form3{
	padding:0.5em 0.78em;
}
.uinn-form4{
	padding-bottom:0.5em;
}
.uinn-a5{
	padding:0.8125em 0.625em 0.9em 0.625em;
}
.b-org-form1{
	border-color:#C2D84D;
}
.umar-b-form{
	margin-bottom:-1px;
}
.umar-r-form{
	margin-right:0.25em;
}
.umar-r-form2{
	margin-right:0.1875em;
}
.t-gra4{
	color:#8c8c8c;
}
.uinn-a10{
	padding:1em 0;
}
.ubb-app1{
	border-bottom:4px solid;
}
.uinn-a1{
    padding:0.625em;
}
.uinn-a7{
    padding:0 0.625em;
}
.uinn-at1{
    padding-top:1em;
}