.uw-comm2{
	width:0.625em;
}
.uh-comm2{
	height:0.625em;
}

.t-gra-comm{
	color:#989898;
}
.t-gra2-comm{
	color:#707070;
}
.umar-r-comm{
	margin-right:2em;
}
.praise{
	background-image:url('myImg/zan.png');
}
.c-gra-comm{
	background-color:#ebebeb;
}
.uinn-comm{
	padding:0.42em 0.625em 0.625em 0.625em;
}
.line-hei-com{
	line-height:1.6em;
}
.uh-app3{
	height:2.8125em;
}
.uw-app3{
	width:2.8125em;
}
.uc-a-app2{
	-webkit-border-radius: 2.8125em;
	border-radius: 2.8125em;
}
.umar-at1{
    margin-top: .5em;
}
.mar-ar1{
    margin-right: .5em;
}
