.c-orange{
	background-color:#f09c9c;
}
.b-gra{
	border-color:#d6d6d6;
}
.t-gra
{
	color:#a1a1a1;
}
.t-gra1{
	color:#787878;
}
.reswoman{
	background-image:url('myImg/sji.png');
}
.umwh2{
	min-height:3.31em;
	min-width:3.78em;
}
.umwh3{
	min-height:1.8em;
	min-width:1.8em;
}
.uinnh2{
	padding:1.6em 0.5em;
}
.c-wh{
    background-color: white;
}