.uinn-ca1{
	padding:0.9em 1em 0.8em 1em;
}
.b-gra-ae{
	border-color:#aeaeae;
}
.c-gra-ae{
	background-color:#aeaeae;
}
.uwh-ca1{
	width:1.21875em;
	height:2.4375em;
}
.catalog{
	background-image:url(myImg/choose.png);
}
.uabs-ca{
	position:absolute;
	right:0;
	top:40%;
}
